<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">

  <title>Vue Sandbox</title>
</head>

<body>
  <div id="app">
    <!-- Navigation bar -->
    <div class="nav-bar">
      <div class="cart">
        <!-- Add to cart button -->
        <button class="cart__btn">Add to cart</button>
        <!-- Cart items quantity -->
        <p class="cart__items">Cart: {{ cart }}</p>
      </div>
    </div>

    <div class="container">
      <!-- Product -->
      <div class="product">
        <!-- Dynamically bind the src attribute to the image expression and bind the alt attribute to the altText expression -->
        <img class="product__img" v-bind:src="image" v-bind:alt="altText">

        <div class="product__info">
          <h1 class="product__info--title">{{ product }}</h1>
          <!-- Conditionals -->
          <p class="product__info--paragraph" v-if="inventory > 10">In stock</p>
          <p class="product__info--paragraph" v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
          <p class="product__info--paragraph" v-else>Out of stock</p>

          <!-- Loop thru an array using v-for -->
          <ul class="product__info--list">
            <li v-for="detail in details">{{ detail }}</li>
          </ul>

          <!-- v-show doesn't remove the element from the DOM -->
          <span v-show="onSale">ON SALE!</span>

          <!-- Colors -->
          <p class="product__info--paragraph">Color variants:</p>
          <ul class="product__info--list">
            <li v-for="variant in variants">{{ variant.variantColor }}</li>
          </ul>

          <!-- Sizes -->
          <p class="product__info--paragraph">Available sizes:</p>
          <ul class="product__info--list">
            <li v-for="size in sizes">{{ size }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Vue.js CDN link -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="main.js"></script>
</body>

</html>