*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 60px auto;
}

.product {
  display: flex;
  justify-content: space-evenly;
}

.product__img img {
  width: 250px;
}