/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */

/* body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: #333;
} */

/* .container {
  max-width: 800px;
  margin: 30px auto;
  padding: 15px;
} */

/* .nav-bar {
  background-color: #333;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .cart {
  display: flex;
  align-items: center;
}

.cart__btn {
  background-color: greenyellow;
  font-size: 16px;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.cart__items {
  color: white;
  font-size: 16px;
  margin-left: 25px;
} */

/* .product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product > * {
  margin: 15px;
} */

/* .product__img {
  width: 250px;
  align-self: flex-start;
}

.product__info--title {
  margin-bottom: 30px;
}

.product__info--paragraph {
  margin-bottom: 10px;
  font-size: 20px;
}

.product__info--list {
  margin-bottom: 30px;
}

.product__info span {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 30px;
} */