// Define general styles
.cart {
  display: flex;
  align-items: center;

  &__btn {
    background-color: $color-green;
    font-size: $font-size-sm;
    padding: $padding-sm;
    border: none;
    cursor: pointer;
  }

  &__items {
    color: $color-white;
    font-size: $font-size-sm;
    margin-left: $margin-lg;
  }
}