// Define all variables here

// Colors
$color-black: #333;
$color-green: #9f3; // Yellowgreen
$color-white: #fff;

// Typography
$font-primary: Arial, Helvetica, sans-serif;
$font-size-sm: 1.6rem;
$font-size-md: 2rem;
$font-size-lg: 2.6rem;

// Layout
$padding-sm: 0.8rem;
$padding-lg: 1.5rem;
$margin-sm: 1.5rem;
$margin-lg: 2.5rem;